.container {
  display: grid;
  gap: 40px;
  font-size: 12px;
  margin: 20px 100px;

  .card {
    grid-area: Card;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "Card";
    margin: 20px 100px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Card Card";
    margin: 20px 50px;
  }
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "Card Card Card";
  }
}
